
  <!-- experience  -->
  <div class="section" id="experience">
    <div class="container">
      <div class="col-md-12">
        <h4>02</h4>
        <h1 class="size-50">My <br /> Experience</h1>
        <div class="h-50"></div>
      </div>
      <div class="col-md-12">
        <ul class="timeline">  
          {% for exp in site.data.experience %}  
          <li class="timeline-event" data-aos="fade-up" data-aos-delay=".2">
            <label class="timeline-event-icon"></label>
            <div class="timeline-event-copy">
              <p class="timeline-event-thumbnail">{{exp.timeSpan}}</p>
              <img src="{{exp.companyLogo}}" width="80" class="img-responsive" alt="" />
              <h3>{{exp.companyName}}</h3>
              <h4>{{exp.title}}</h4>
              <p><strong>{{exp.roles}}</strong>
                <br>{{exp.description}}
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <!-- ./experience -->