
  <!-- experience  -->
  <div class="section" id="experience">
    <div class="container">
      <div class="col-md-12">
        <h4>02</h4>
        <h1 class="size-50">My <br /> Experience</h1>
        <div class="h-50"></div>
      </div>
      <div class="col-md-12">
        <ul class="timeline">
          <li class="timeline-event" data-aos="fade-up">
            <label class="timeline-event-icon"></label>
            <div class="timeline-event-copy">
              <p class="timeline-event-thumbnail">April 2018 - June 2019</p>
              <img src="img/ds.png" width="80" class="img-responsive" alt="" />
              <h3>Danske Spil A/S</h3>
              <h4>Freelance consultant</h4>
              <p><strong>Agile Coach and Scrum Master</strong>
                <br>Lorem ipsum...</p>
            </div>
          </li>
          <li class="timeline-event" data-aos="fade-up" data-aos-delay=".4">
            <label class="timeline-event-icon"></label>
            <div class="timeline-event-copy">
              <p class="timeline-event-thumbnail">December 2017 - Present</p>
              <img src="img/privactree_logo.png" width="80" class="img-responsive" alt="" />
              <h3>PrivacyTree</h3>
              <h4>Partner</h4>
              <p>
                <strong>SW Architecture, Development, UI</strong>
                <br>Lorem ipsum...
              </p>
            </div>
          </li>
          <li class="timeline-event" data-aos="fade-up" data-aos-delay=".2">
            <label class="timeline-event-icon"></label>
            <div class="timeline-event-copy">
              <p class="timeline-event-thumbnail">Januar 2017 - December 2017</p>
              <img src="img/mp.png" width="80" class="img-responsive" alt="" />
              <h3>MP Pension</h3>
              <h4>Freelance consultant</h4>
              <p>
                <strong>Agile Coach and Scrum Master</strong>
                <br>Lorem ipsum...
              </p>
            </div>
          </li>
          <li class="timeline-event" data-aos="fade-up" data-aos-delay=".2">
            <label class="timeline-event-icon"></label>
            <div class="timeline-event-copy">
              <p class="timeline-event-thumbnail">May 2016 - November 2016</p>
              <img src="img/nykredit.png" width="80" class="img-responsive" alt="" />
              <h3>Nykredit</h3>
              <h4>Freelance consultant</h4>
              <p>
                <strong>Software developer</strong>
                <br>Lorem ipsum...
              </p>
            </div>
          </li>
          <li class="timeline-event" data-aos="fade-up" data-aos-delay=".2">
            <label class="timeline-event-icon"></label>
            <div class="timeline-event-copy">
              <p class="timeline-event-thumbnail">January 2016 - April 2016</p>
              <img src="img/widex.png" width="80" class="img-responsive" alt="" />
              <h3>Widex A/S</h3>
              <h4>Freelance consultant</h4>
              <p><strong>Solution delivery manager</strong>
                <br>Lorem ipsum...</p>
            </div>
          </li>
          <li class="timeline-event" data-aos="fade-up" data-aos-delay=".2">
            <label class="timeline-event-icon"></label>
            <div class="timeline-event-copy">
              <p class="timeline-event-thumbnail">May 2015 - December 2015</p>
              <img src="img/macellum.png" width="80" class="img-responsive" alt="" />
              <h3>Macellum</h3>
              <h4>Partner</h4>
              <p><strong>Lorem ipsum</strong>
                <br>Lorem ipsum...</p>
            </div>
          </li>
          <li class="timeline-event" data-aos="fade-up" data-aos-delay=".2">
            <label class="timeline-event-icon"></label>
            <div class="timeline-event-copy">
              <p class="timeline-event-thumbnail">February 2012 - May 2015</p>
              <img src="img/lb.png" width="80" class="img-responsive" alt="" />
              <h3>Lokalebasen.dk A/S</h3>
              <h4>Freelance consultant</h4>
              <p><strong>Product Owner, Scrum Master, Architect, Software Developer</strong>
                <br>Lorem ipsum...</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- ./experience -->